@import 'bootstrap/_mixins';

$contractHeight: 65px;

.contract-status {
  i {
    line-height: $contractHeight;
  }
}

.contract-small {
  h6 {
    line-height: 12px;
    margin-top: 6px;
    margin-bottom: 8px;
  }

  font-size: 10px;
  line-height: 11px;
  background-color: #f3f5f6;
  border: 1px solid #ccc;
  border-top-width: 0;
  height: 48px;

  @include transition( margin 0.10s );

  &:hover {
    background-color: #FAFCFD;
  }

  &:first-child {
    border-top-width: 1px;
    @include border-top-radius( 0.25em );
  }
  &:last-child {
    @include border-bottom-radius( 0.25em );
  }

  &.expanded {
    border-width: 1px;
    border-radius: 0.25em;
    margin: 0.5em 0;
  }
}

.payout-title-small {
  vertical-align: left;
  float: right;
  margin-top: 17px;
  color: #666;
  @include rotate(-90deg);
}

.payout-small {
  float: right;
  line-height: 14px;
}

.contract {
  background-color: #f3f5f6;
  border: 1px solid #ccc;
  border-top-width: 0;
  @include transition( margin 0.10s );

  &:hover {
    background-color: #FAFCFD;
  }

  &:first-child, &.expanded + .contract {
    border-top-width: 1px;
    @include border-top-radius( 0.25em );
  }
  &:last-child, &.before-expand {
    @include border-bottom-radius( 0.25em );
  }

  &.expanded {
    border-width: 1px;
    border-radius: 0.25em;
    margin: 0.5em 0;
  }

}


.contracts {
  margin-top: 0.55em;
}

.contract {
  h4 {
    margin-top: 0.25em;
  }

  .flights {
    display: none;
    border-top: 1px solid #e0e0e0;
    background-color: #FFF;
    table {
      margin-bottom: 0;

      tr:last-child {
        @include border-bottom-radius( 0.25em );
      }
    }
  }
}

.contract-header {
  cursor: pointer;
  height: $contractHeight;
}

.contract-header-small {
  cursor: default;
  height: $contractHeight;
}

.payout {
  float: right;
}

.payout-title {
  vertical-align: left;
  float: right;
  font-size: 15px;
  margin-top: 21px;
  color: #666;
  @include rotate(-90deg);
}
